*{ margin: 0; padding: 0; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.formContainers{ max-width:500px; margin: 0 auto; width: 100%;}

h3{ text-transform: capitalize; }

.cropArea { background: #E4E4E4; overflow: hidden; width:500px; height:350px;}

textarea.form-control.addressBox{height: 100px; resize: none;}

#map {height: 500px}
